/* Estilo general del cuerpo */
body {
    background-color: #000;
    font-family: 'Courier New', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #0f0;
}

/* La caja principal */
.tarjeta {
    border: 2px solid #0f0;
    width: 320px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 255, 0, 0.4);
    background-color: #111;
    animation: entrada 1.5s ease;
}

/* El Video Redondo */
video {
    width: 150px;
    height: 150px;
    object-fit: cover; /* Truco para que no se deforme */
    border-radius: 50%;
    border: 3px solid #fff;
    margin-bottom: 15px;
}

h1 { margin: 10px 0; text-transform: uppercase; }
p { color: #ccc; font-size: 14px; }

/* El Botón */
button {
    background-color: #0f0;
    color: black;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 15px;
    border-radius: 5px;
}

button:hover {
    background-color: white;
}

/* Animación de aparición */
@keyframes entrada {
    from { opacity: 0; transform: scale(0.8); }
    to { opacity: 1; transform: scale(1); }
}