body {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
  }
  
  main {
    flex: 1; 
  }

header {
    background-color: #333333;
    color: #fff;
    text-align: center;
    padding: 1em;
    display: grid;
    grid-template-columns: 20% auto; 
    align-items: center; 
}

header img {
    grid-column: 1; 
    height: 60px;
}

header h1 {
    grid-column: 2;
    line-height: 60px; 
    margin: 0; 
    text-align: left; 
}

header button{
    grid-column: 3;
}


#menu-container img{
    max-width: 100%;
}

#menu-buttons {
    padding: 1em;
    display: grid;
}

#menu-buttons button {
    width: 50%; 
    box-sizing: border-box; 
    padding: 0.5em; 
    font-size: larger;
    font-weight: 600;
    background-color: red;
}
button:hover {
    background-color: rgb(126, 0, 0);
}

section {
    margin: 20px;
}

.menu-category {
    margin-bottom: 10px;
}

.menu-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
}

.item-details {
    padding: 15px;
 
}

h2 {
    margin-bottom: 10px;
}

p {
    margin: 0;
}

#menu-buttons {
    display: flex;
    justify-content: center;
    margin: 20px;
}

button {
    background-color: rgb(85, 85, 85);
    min-height: 75px;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 400;
    font-style: normal;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

button:hover {
    background-color: rgb(49, 49, 49);
}

.menu-category h2, .menu-subcategory h3 {
    background-color: #333333;
    color: white;
    padding: 5px;
    margin: 10px 0 5px;
}

.menu-item {
    border: 1px solid #ddd;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

.menu-item h2 {
    margin-bottom: 5px;
}

.menu-item p {
    margin: 0;
}

.menu-item:hover {
    background-color: #f9f9f9;
}

footer {
    background-color: #333333;
    color: #fff;
    text-align: center;
    padding: 1em;
    margin-top: auto;
  }

  #myDiv {
    position: absolute;
    display: none;
    top: 150px;
    left: 5%;
    width: 84%;
    min-height: 50px;
    background-color: #e0e0e0;
    border: 1px solid #333;
    border-radius: 10px;
    padding: 2%;
  }

  #qrcode{
    position: absolute;
    display: none;
    top: 150px;
    left: 5%;
    width: 84%;
    min-height: 50px;
    background-color: #e0e0e0;
    border: 1px solid #333;
    border-radius: 10px;
    padding: 2%;
  }
  